<!DOCTYPE html>

<html>

<head>
    <title>Blog website</title>
    <meta http-equiv="Content-Type" content="text/html;" />

    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <script>
        alert('fesgds');
    </script>

</head>