<body>
    <div id="mainbody">
        <header>
            <!-- Navigation bar at top of page -->

            <nav class="navbar">
                <a href="./">Home</a> |
                <a href="./register" class="rl">|  Register</a> |



                <% if(!locals.log_out ){%>
                    <a href="/login">Login</a>

                    <% } else{ %>
                        <%- locals.log_out -%>

                            <a href="/logout">Logout</a>

                            <%    } %>
            </nav>
        </header>