<body>
    <header>
      <!-- Navigation bar at top of page -->
      <nav class= "navbar"> 
        <a href="./">Home</a>
        <a href="./register">Register</a>
        <a href="/login">Login</a>
      </nav>
    </header>