<body>
    <div id="mainbody">
        <header>
            <!-- Navigation bar at top of page -->

            <nav class="navbar">
                <a href="./">Home</a> |
                <a href="./register" class="rl">|  Register</a> |

                <% if(login_auth) {%>
                    <%- login_auth -%>
                        <% }else{ %>
                            <%- login_auth -%>
                                <% } %>

                                    <% if(!locals.id ){%>
                                        <!---- <a href="/login">Login</a>-->

                                        <% } else{ %>


                                            <!--   <a href="/logout">Logout</a> -->

                                            <%    } %>
            </nav>
        </header>