<%- include('head') %>
    <%- include('header') %>

        <nav>
            <h1>Welcome to the <%= title %>
            </h1>
        </nav>

        <main>
            <section class="description">
                <h1>Home Page</h1>
            </section>
        </main>

        <%- include('footer') %>