<%- include('head') %>
    <%- include('header') %>

        <main id="blogs">
            <%- include('blog') %>
        </main>

        <%- include('footer') %>
        <style>
            #blog{
                width: 500px;
                justify-content: center;
                display: block;
                margin: auto;
                border-color: black;
                border-width: 5px;
                color: blue;
                margin:0 auto
            }
            #blog_title{
                width: 500px;
                justify-content: center;
                display: block;
                margin: auto;
                border-color: black;
                border-width: 5px;
                color: blue;
            }
        </style>