<%- include('head') %>
<script src="./js/register.js" defer></script>
    <%- include('header') %>
        <h1>Register page</h1>


        <% if(typeof record == 'undefined' || record == null ){ %>



            <% } else{ %>

                <%= record %>
                    <% } %>
                        <table class="register_table">
                            <form id="register_form" action="register" method="post" enctype="text/html">
                                <tr>
                                    <td> <label for="email">Email*: </label></td>
                                    <td>
                                        <input type="email" id="email" name="email" placeholder="Email" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="username"> Username*: </label></td>
                                    <td>
                                        <input type="text" name="username" id="username" placeholder="Username" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label for="password"> Password*: </label> </td>
                                    <td>
                                        <input type="password" name="password" id="password" placeholder="Password" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label for="password_confirm"> Confirm Password*: </label> </td>
                                    <td>
                                        <input type="password" name="password_confirm" id="password_confirm" placeholder="Password" required">
                                    </td>
                                </tr>
                                <tr>
                                    <td>  <label for="2fa">Would you like to use 2 Factor Authentication?</label> </td>
                                    <td>
                                        <input type="radio" id="true" name="twofa" value="True">
                                        <label for="true">True</label> 
                                        <input type="radio" id="false" name="twofa" value="False">
                                        <label for="false">False</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td> <span id="incorrect_password"></span></td>
                                    <td><input id="submit_button" type="submit" value="Submit"/></td>
                                </tr>
                                
                            </form>
                        </table>
                        <%- include('footer') %>