<%- include('./head') %>
    <%- include('./header') %>
        <div style="text-align: center;">
            <h1>Articles </h1>
            <table style="width: 465px;            height: 148px;">
                <tr>
                    <td>Title:</td>
                    <td class="show">
                        <%= article.title %>

                    </td>

                </tr>
                <tr>
                    <td>Content:</td>
                    <td class="show">


                    </td>

                </tr>

            </table>
            <h1>

            </h1><br>
            <p style="    text-align: justify;">

            </p>
        </div>
        <%- include('./footer') %>