<%- include('head') %>
    <%- include('header') %>

        <main id="blogs">

            <div id="blogs">

                <table>
                    <tr>
                        <td></td>
                        <td>
                            <th>Write your blog</th>
                        </td>

                        <tr>
                            <td>Title:</td>
                            <td>
                                <p>
                                    Database
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="bt">“At Medium we were able to transition our product planning to Airtable in 1 day - we use it for all major projects and were able to create the exact workflow and visibility we needed across the team.”</td>
                        </tr>

                    </tr>

                </table>

        </main>

        <%- include('footer') %>