#mainbody {
    width: 39%;
    margin: auto;
}

.hidden {
    display: none
}

.show-more,
.show-less {
    cursor: pointer;
    color: #222;
}

.display_msg {
    position: absolute;
    margin: -17px 0px 0px 183px;
    color: red;
}

.rl {
    margin-left: 330px;
}

table {
    border-style: groove;
    border-width: 1px;
    border-color: black;
    background-color: white;
    margin-top: 64px;
}

.bt {
    border-bottom: 1px solid black;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: floralwhite;
}

.login_table {
    width: 500px;
    height: 209px;
    padding: 52px 0px 32px 64px;
}

.register_table {
    width: 500px;
    height: 309px;
    padding: 52px 43px 32px 64px;
}

#blog {
    width: 500px;
    justify-content: center;
    display: block;
    margin: auto;
    border-color: black;
    border-width: 5px;
    color: blue;
    margin: 0 auto
}

#blog_title {
    width: 500px;
    justify-content: center;
    display: block;
    margin: auto;
    border-color: black;
    border-width: 5px;
    color: blue;
}

.card_body {
    padding: 10px 0px 32px 64px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
}

.show {
    text-align: left;
}

.card_date {
    position: absolute;
    font-size: 9px;
    margin: -48px 4px 6px 315px;
    width: 150px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: none;
}

a:active {
    color: green;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 7px;
    font-size: 10px;
    border: 1px solid grey;
    float: left;
    width: 130%;
    background: #f1f1f1;
    margin: -17px 0px 0px 60px;
}

h1 {
    font-size: 20px;
    padding: 37px 0px 0px 0px;
}

header a {
    width: auto;
}

#search {
    position: absolute;
    margin: -14px 1px 1px 1px;
}

#search {
    height: 27px;
    position: absolute;
    float: left;
    width: 30%;
    /* padding: 12px; */
    /* background: hsl(207, 79%, 23%); */
    /* color: white; */
    font-size: 13px;
    border: 1px solid grey;
    border-left: none;
    margin: -17px 1px 0px 1px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    float: left;
}