<div class="form_group">
    <input type="text" name="title" placeholder="Title" required><br><br>
    <textarea name="content" placeholder="Content" required></textarea><br><br>
</div>
<a href="/">Cancel</a>
<input type="submit" value="Create Article" ><br><br>


