<%- include('../head') %>
    <%- include('../header') %>
        <h1>New Article</h1>

        <form action="/articles" method="post">
            <%- include('../articles/_blog_form_fields') %>
        </form>
        <%- include('../footer') %>