<%- include('../head') %>
    <%- include('../header') %>
        <h1>New Article</h1>

        <form action="new_blog" method="post">
           <%- include('../articles/_blog_form_fields') %> 
            
        
        </form>
        <%- include('../footer') %>